<div class="body">
    <app-header></app-header>
        <div class="box">
                <div class="box span12" style="float: none; margin-left: auto; margin-right: auto;">
			
                <div class="box-header">
                    <h2>
                        <b>Create Gender</b>
                    </h2>
        
                </div>
                <div class="box-content" style="padding:0px;border:1px solid #fff;"> </div>
                    
        </div>   
</div>

<div class="box-content " style="border:none; ">
				
        <form #skuForm="ngForm" action="" method="post" id="filterform" class="form-horizontal" name="add_pattern" style="margin: 0px auto;">
                                
                            <div class="control-group ">
                                    <label class="control-label" for="title"> Gender <span class="red">*</span></label>
                                    <div class="controls">
                                            <input class="form-control" type="text" id="gender" name="gender" [(ngModel)]="datasku.actualColor" placeholder="Gender" required="">
                                    </div>
                
                                </div>

                                <div class="control-group ">
                                        <label class="control-label" for="title"> Code <span class="red">*</span></label>
                                        <div class="controls">
                                                <input class="form-control" type="text" id="code" name="code" [(ngModel)]="datasku.actualColor" placeholder="Code" required="">
                                        </div>
                    
                                    </div>
    
                    <div class="error"> {{errors}} </div>
                                 
                    <div class="form-actions" >
                            <button type="back" class="btn btn-primary treset" (click)="back()">Back</button>
                            <button type="submit" class="btn btn-primary treset" (click)="save()">Submit</button>
    
                            <button type="reset" tabindex="-1" class="btn btn-primary treset">Reset</button>
    
                        </div>
        </form>
    </div>
    <app-footer></app-footer>
</div>