<form #skuForm="ngForm" action="" method="post" id="filterform" class="form-horizontal" name="add_pattern" style="margin: 0px auto;">
                                
                            <div class="control-group ">
                                    <label class="control-label" for="title"> Brand <span class="red">*</span></label>
                                    <div class="controls">
                                                <select class="chzn-drop form-control" id="brand" name="brand" [(ngModel)]="brand" required="" >
                                                                <option selected="" disabled="" value="">Choose Option</option>    
                                                                <option *ngFor="let brand of brands" [ngValue]="brand">{{brand.name}}</option>
                                                </select>
                                     </div>
                
                                </div>

                                <div class="control-group ">
                                        <label class="control-label" for="title"> Collection Name <span class="red">*</span></label>
                                        <div class="controls">
                                                <textarea class="form-control" type="text" id="collection" name="collection" [(ngModel)]="collection.subname" placeholder="Collection Name" required=""></textarea>
                                        </div>
                    
                                    </div>

                                    <div class="control-group ">
                                        <label class="control-label" for="title"> Collection code <span class="red">*</span></label>
                                        <div class="controls">
                                                <textarea class="form-control" type="text" id="collection" name="collection" [(ngModel)]="collection.subnameCode" placeholder="Collection Name" required=""></textarea>
                                        </div>
                    
                                    </div>
    
                    <div class="error"> {{errors}} </div>
                                 
                    <div class="form-actions" >
                            <button type="submit" class="btn btn-primary treset" (click)="save()">Submit</button>
    
                            <button type="reset" tabindex="-1" class="btn btn-primary treset">Reset</button>
    
                        </div>
        </form>