<div class="login-box">
		   
    <img src="assets/logo.png">
    <h1 style="font-weight: 600; text-align:center;">Pinnium Apps</h1>
    <form class="form-horizontal" action="" method="post">
        <fieldset>

            <div class="input-prepend" title="Username">
                <span class="add-on" style=""><i class="fa-icon-user" style="opacity: 0.7;"></i></span>
                <input class="input-large span10" name="username" id="username" maxlength="50" autofocus="" type="email" tabindex="1" style="" required="" placeholder="Enter your email id">
            </div>
            <div class="clearfix"></div>

            <div class="input-prepend" title="Password">
                <span class="add-on" style=""><i class="fa-icon-lock" style="opacity: 0.7;"></i></span> <input class="input-large span10" name="password" id="password" tabindex="2" type="password" required="" maxlength="50" style="" placeholder="Enter your password">
            </div>
            <h2 style="font-weight: 600;"></h2>


            <div class="clearfix"></div>
            <div class="button-login">
                
                <button type="submit" class="btn btn-primary home_btn" tabindex="4">Login</button>
                <br>
                <a (click)="forget()" >Forgot
                    password?</a>
            </div>
            <div class="clearfix"></div>
    </fieldset>
    </form>
    
</div>
<app-footer></app-footer>