<div class="body">
        <app-header></app-header>
        <div class="box">
                <div class="box span12" style="float: none; margin-left: auto; margin-right: auto;">
			
                <div class="box-header">
                    <h2>
                        <b>Action</b>
                    </h2>
        
                </div>
                <div class="box-content" style="padding:0px;border:1px solid #fff;"> </div>
                    
        </div>   
</div>


<div class="box-content " style="border:none; ">
				
        <form #skuForm="ngForm" action="" method="post" id="filterform" class="form-horizontal" name="add_pattern" style="margin: 0px auto;">
                    <div class="control-group ">
                        <label class="control-label" for="title"> Category <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="text" id="category" name="category" readonly placeholder={{datasku.category}} >
                        </div>
                    </div>
                
                    <div class="control-group ">
                        <label class="control-label" for="title"> HSN Code </label>
                        <div class="controls">
                                <input class="form-control" type="text" id="code" name="code" readonly placeholder={{datasku.HSNCode}}>
                        </div>
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Sub Category <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="text" id="sub_category" name="sub_category" readonly placeholder={{datasku.subCategory}}>
                            </div>
    
                    </div>
    
            <div class="control-group ">
                        <label class="control-label" for="title"> Brand <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="text" id="brand" name="brand" readonly placeholder={{datasku.brand}}>
                            </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Collection Name <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="text" id="collection" name="collection" readonly placeholder={{datasku.collection}}>
                            </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Colour <span class="red">*</span></label>
                        <div class="controls">
                            <div *ngIf="actionType == 'editcolour'">
                                <select id="colour" class="chzn-drop form-control" name="colour" [(ngModel)]="colour" required="" (change)="getcolourvariations()">
                                        <option selected disabled hidden [value]="colour">{{datasku.colour}}</option>
                                        <option *ngFor="let colour of colours" [ngValue]="colour">{{colour.name}}</option>
                                </select>
                            </div>
                            <div *ngIf="actionType != 'editcolour'">
                                    <input class="form-control" type="text" id="colour" name="colour" readonly placeholder={{datasku.colour}}>
                            </div>
                        </div>
    
                    </div>
                    <div class="control-group ">
                        <label class="control-label" for="title"> Colour Variation <span class="red">*</span></label>
                        <div class="controls">
                                <div *ngIf="actionType == 'editcolour'">
                                <select id="colour_variation" class="chzn-drop form-control" name="colour_variation" [(ngModel)]="colourvariation" required="" (change)="generateId()">
                                        <option selected disabled hidden [value]="colourvariation">{{datasku.colourVariation}}</option>
                                        <option *ngFor="let colourvariation of colourvariations" [ngValue]="colourvariation">{{colourvariation.subname}}</option>
                                </select>	
                                </div>
                                <div *ngIf="actionType != 'editcolour'">
                                        <input class="form-control" type="text" id="colourvariation" name="colourvariation" readonly placeholder={{datasku.colourVariation}}>
                                </div>         
                        </div>
    
                    </div>
                    
                    <div class="control-group ">
                        <label class="control-label" for="title"> Size <span class="red">*</span></label>
                        <div class="controls">
                                <div *ngIf="actionType == 'editsize'">
                                <select id="size" class="chzn-drop form-control" name="size" [(ngModel)]="size" required="" (change)="generateId()">
                                      <option selected disabled hidden value="size">Choose Size</option>
                                      <option *ngFor="let size of sizes" [ngValue]="size">{{size.name}}</option>
                                </select>
                                </div>	 
                                <div *ngIf="actionType != 'editsize'">
                                    <input class="form-control" type="text" id="size" name="size" readonly placeholder={{datasku.size}}>
                                </div> 
                                
                        </div>
    
                    </div>
                                        
                    <div class="control-group ">
                        <label class="control-label" for="title"> Manufacturing Year <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="text" id="manufacturing_year" name="manufacturing_year" placeholder={{datasku.manufacturingYear}} readonly>
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Sub Brand <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="text" id="sub_brand" name="sub_brand" placeholder={{datasku.subBrand}} readonly>
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Group ID </label>
                        <div class="controls">
                                <input class="form-control" type="text" id="group_id" name="group_id" placeholder={{datasku.groupId}} readonly >
                        </div>
    
                    </div>
                    <div class="control-group ">
                        <label class="control-label" for="title"> Style Code </label>
                        <div class="controls">
                                <input class="form-control" type="text" id="style_code" name="style_code"  placeholder={{datasku.styleCode}} disabled="" >
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Size Code </label>
                        <div class="controls">
                            <input class="form-control" type="text" id="size_code" name="size_code" placeholder={{datasku.sizeCode}} disabled="" >
                    </div>
    
                    </div>
                
                    <div class="control-group ">
                        <label class="control-label" for="title"> SKU Code <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="text" id="sku_code" name="sku_code" placeholder={{datasku.skuCode}} disabled="" >
                        </div>
                    </div>
                    
                        <div class="control-group ">
                            <label class="control-label" for="title"> Product Name <span class="red">*</span></label>
                            <div class="controls">
                            <input class="form-control" type="text" id="sku_name" name="sku_name"  placeholder="{{datasku.productName}}" readonly>
                                    
                            </div>
        
                        </div>
                        <div class="control-group ">
                            <label class="control-label" for="title"> Product Description <span class="red">*</span></label>
                            <div class="controls">
                            <textarea class="form-control" type="text" id="sku_description" name="sku_description" [(ngModel)]="datasku.productDescription" >{{datasku.productDescription}}</textarea>
                                    
                            </div>
                        </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Actual Colour <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="text" id="actual_colour" name="actual_colour" [(ngModel)]="datasku.actualColour" placeholder="{{datasku.actualColour}}" required="">
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Item Weight(g) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="0.01" min="0.00" id="item_weight" name="item_weight" [(ngModel)]="datasku.itemWeight" placeholder="{{datasku.itemWeight}}" required="">
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Item Length (cm) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="0.01" min="0.00" id="item_length" name="item_length" [(ngModel)]="datasku.itemLength" placeholder="{{datasku.itemLength}}" required="">
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Item Height (cm) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="0.01" min="0.00" id="item_height" name="item_height" [(ngModel)]="datasku.itemHeight"  placeholder="{{datasku.itemHeight}}" required="">
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Item Width (cm) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="0.01" min="0.00" id="item_width" name="item_width" [(ngModel)]="datasku.itemWidth"  placeholder="{{datasku.itemWidth}}" required="">
                        </div>
    
                    </div>

                    <div class="control-group ">
                            <label class="control-label" for="title"> Item Volume (ltr) <span class="red">*</span></label>
                            <div class="controls">
                                    <input class="form-control" type="number" step="0.01" min="0.00" id="item_volume" name="item_volume" [(ngModel)]="datasku.itemVolume"  placeholder="{{datasku.itemVolume}}" required="">
                            </div>
        
                        </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Package Weight (g) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="0.01" min="0.00" id="package_weight" name="package_weight" [(ngModel)]="datasku.packageWeight" placeholder="{{datasku.packageWeight}}" required="" (input)="volumetricWeightCalculaion()">
                        </div>
    
                    </div>
                    
                    <div class="control-group ">
                        <label class="control-label" for="title"> Package Length (inch) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="0.01" min="0.00" id="package_length" name="package_length" [(ngModel)]="datasku.packageLength" placeholder="{{datasku.packageLength}}" required="" (input)="volumetricWeightCalculaion()">
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Package Height (inch) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="0.01" min="0.00" id="package_height" name="package_height" [(ngModel)]="datasku.packageHeight" placeholder="{{datasku.packageHeight}}" required="" (input)="volumetricWeightCalculaion()">
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Package Width (inch) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="0.01" min="0.00" id="package_width" name="package_width" [(ngModel)]="datasku.packageWidth" placeholder="{{datasku.packageWidth}}" required="" (input)="volumetricWeightCalculaion()">
                        </div>
    
                    </div>

                    <div class="control-group ">
                            <label class="control-label" for="title"> Volumetric Weight(kg) <span class="red">*</span></label>
                            <div class="controls">
                                    <input class="form-control" type="number"  id="volumetric_weight" name="volumetric_weight" placeholder="{{datasku.volumetricWeight}}" disabled="">
                            </div>
        
                        </div>       
    
                    <div class="control-group ">
                        <label class="control-label" for="title"> Basic Cost <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="1" min="0.00" id="input_price" name="input_price" [(ngModel)]="datasku.basicCost" placeholder="{{datasku.basicCost}}" required="" (input)="costCalculation()">
                        </div>
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Branding <span class="red">*</span></label>
                        <div class="controls">
                                  <select id="category" class="chzn-drop form-control" name="category" [(ngModel)]="datasku.branding"   required=""  onchange="onchangegroup(this)">
                                      <option selected disabled [value]="datasku.branding"> {{datasku.branding}} </option>
                                            <option id="digital" value="digital type">Digital print</option>
                                            <option id="digital" value="embroidery">Embroidery</option>
                                                                
                            </select>	
                        </div>      
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Cost per Unit<span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="1" min="0.00" id="fulfillment_price" name="branding_cost" [(ngModel)]="datasku.brandingCost" placeholder="{{datasku.brandingCost}}" required="" (input)="costCalculation($event)">
                        </div>
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Branding Quantity <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="1" min="0.00" id="branding_quantity" name="branding_quantity" [(ngModel)]="datasku.brandingQuantity" placeholder="{{datasku.brandingQuantity}}" required="" (input)="costCalculation()">
                        </div>
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Fulfillment Cost <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="1" min="0.00" id="fulfillment_price" name="fulfillment_price" [(ngModel)]="datasku.fulfillmentCost" placeholder="{{datasku.fulfillmentCost}}" required="" (input)="costCalculation()">
                        </div>
                    </div>

                    
                    <div class="control-group ">
                            <label class="control-label" for="title"> Cost after overhead </label>
                            <div class="controls">
                                    <input class="form-control" type="number"  id="cost_overhead" name="cost_overhead" placeholder={{datasku.costAfterOverhead}} disabled="">
                            </div>
                        </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> B2B Margin (%) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="1" min="0.00" id="b2bmargin" name="b2bmargin" [(ngModel)]="datasku.b2bmargin" placeholder="{{datasku.b2bmargin}}" required="" (input)="costCalculation()">
                        </div>
                    </div>

                    <div class="control-group ">
                            <label class="control-label" for="title">B2C Margin (%) <span class="red">*</span></label>
                            <div class="controls">
                                    <input class="form-control" type="number" step="1" min="0.00" id="b2cmargin" name="b2cmargin" [(ngModel)]="datasku.b2cmargin" placeholder="{{datasku.b2cmargin}}" required="" (input)="costCalculation()">
                            </div>
                        </div>

                        <div class="control-group ">
                                <label class="control-label" for="title"> Tax <span class="red">*</span></label>
                                <div class="controls">
                                        <select id="tax" class="chzn-drop form-control" name="tax" [(ngModel)]="tax"   required="" >
                                              <option selected disabled hidden [value]="tax">{{datasku.tax}}</option>
                                              <option *ngFor="let tax of taxes" [ngValue]="tax">{{tax._id}}</option>
                                        </select>	  
                                        
                                </div>
                            </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> B2B selling price <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number"  id="b2b" name="b2b" placeholder={{datasku.b2bSellingPrice}} disabled="" >
                        </div>
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> MRP <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="1" min="0.00" id="mrp" name="mrp" [(ngModel)]="datasku.mrp" placeholder="{{datasku.mrp}}" required="">
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Selling Price(SP) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number"  id="selling_price" name="selling_price" placeholder="{{datasku.sellingPrice}}" disabled="" >
                        </div>
    
                    </div>

                    <div class="error"> {{errors}} </div>
                             
                    <div class="form-actions" >
                            <button type="back" class="btn btn-primary treset" (click)="back()">Back</button>
                            <button type="submit" class="btn btn-primary treset" (click)="save()">Submit</button>
                        </div>
            
    </form></div>
    <app-footer></app-footer>
</div>
