<div class="body">
        <app-header></app-header>
        <div class="box">
                <div class="box span12" style="float: none; margin-left: auto; margin-right: auto;">
			
                <div class="box-header">
                    <h2>
                        <b>Action</b>
                    </h2>
        
                </div>
                <div class="box-content" style="padding:0px;border:1px solid #fff;"> </div>
                    
        </div>   
</div>


<div class="box-content " style="border:none; ">
				
        <form #skuForm="ngForm" action="" method="post" id="filterform" class="form-horizontal" name="add_pattern" style="margin: 0px auto;">
                    <div class="control-group ">
                        <label class="control-label" for="title"> Category <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="text" id="category" name="category" readonly placeholder={{sku.category}} >
                        </div>
                    </div>
                
                    <div class="control-group ">
                        <label class="control-label" for="title"> HSN Code </label>
                        <div class="controls">
                                <input class="form-control" type="text" id="code" name="code" readonly placeholder={{sku.HSNCode}}>
                        </div>
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Sub Category <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="text" id="sub_category" name="sub_category" readonly placeholder={{sku.subCategory}}>
                            </div>
    
                    </div>
    
            <div class="control-group ">
                        <label class="control-label" for="title"> Brand <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="text" id="brand" name="brand" readonly placeholder={{sku.brand}}>
                            </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Collection Name <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="text" id="collection" name="collection" readonly placeholder={{sku.collection}}>
                            </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Colour <span class="red">*</span></label>
                        <div class="controls">
                            <div *ngIf="actionType == colour">
                                <select id="colour" class="chzn-drop form-control" name="colour" [(ngModel)]="colour" required="" (change)="getcolourvariations()">
                                        <option selected="" disabled="" value="">Choose Colour</option>
                                        <option *ngFor="let colour of colours" [ngValue]="colour">{{colour.name}}</option>
                                </select>
                            </div>
                            <div *ngIf="actionType != colour">
                                    <input class="form-control" type="text" id="colour" name="colour" readonly placeholder={{sku.colour}}>
                            </div>
                        </div>
    
                    </div>
                    <div class="control-group ">
                        <label class="control-label" for="title"> Colour Variation <span class="red">*</span></label>
                        <div class="controls">
                                <div *ngIf="actionType == colour">
                                <select id="colour_variation" class="chzn-drop form-control" name="colour_variation" [(ngModel)]="colourvariation" required="" (change)="generateId()">
                                        <option selected="" disabled="" value="">Choose Colour Variation</option>
                                        <option *ngFor="let colourVariation of colourVariations" [ngValue]="colourvariation">{{colourVariation.subname}}</option>
                                </select>	
                                </div>
                                <div *ngIf="actionType != colour">
                                        <input class="form-control" type="text" id="colourvariation" name="colourvariation" readonly placeholder={{sku.colourVariation}}>
                                </div>         
                        </div>
    
                    </div>
                    
                    <div class="control-group ">
                        <label class="control-label" for="title"> Size <span class="red">*</span></label>
                        <div class="controls">
                                <select id="size" class="chzn-drop form-control" name="size" [(ngModel)]="datasku.size" required="" (change)="generateId()">
                                      <option selected="" disabled="" value="">Choose Size</option>
                                                                        <option id="colour_4XL" value="4XL">4XL</option>
                                                                          <option id="colour_3XL" value="3XL">3XL</option>
                                                                          <option id="colour_38" value="38">38</option>
                                                                          <option id="colour_36" value="36">36</option>
                                                                          <option id="colour_42" value="42">42</option>
                                                                          <option id="colour_40" value="40">40</option>
                                                                          <option id="colour_34" value="34">34</option>
                                                                          <option id="colour_32" value="32">32</option>
                                                                          <option id="colour_28" value="28">28</option>
                                                                          <option id="colour_30" value="30">30</option>
                                                                          <option id="colour_OS" value="OS">OS</option>
                                                                          <option id="colour_XXXL" value="XXXL">XXXL</option>
                                                                          <option id="colour_XXL" value="XXL">XXL</option>
                                                                          <option id="colour_XL" value="XL">XL</option>
                                                                          <option id="colour_L" value="L">L</option>
                                                                          <option id="colour_M" value="M">M</option>
                                                                          <option id="colour_S" value="S">S</option>
                                                                          <option id="colour_XS" value="XS">XS</option>
                                                                          
                                      </select>	  
                                
                        </div>
    
                    </div>
                                        
                    <div class="control-group ">
                        <label class="control-label" for="title"> Manufacturing Year <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="text" id="manufacturing_year" name="manufacturing_year" placeholder={{sku.manufacturingYear}}>
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Sub Brand <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="text" id="sub_brand" name="sub_brand" placeholder={{sku.subBrand}} readonly>
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Group ID </label>
                        <div class="controls">
                                <input class="form-control" type="text" id="group_id" name="group_id" placeholder={{sku.groupId}} readonly >
                        </div>
    
                    </div>
                    <div class="control-group ">
                        <label class="control-label" for="title"> Style Code </label>
                        <div class="controls">
                                <input class="form-control" type="text" id="style_code" name="style_code"  placeholder={{styleCodeValue}} disabled="" >
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Size Code </label>
                        <div class="controls">
                            <input class="form-control" type="text" id="size_code" name="size_code" placeholder={{sizeCodeValue}} disabled="" >
                    </div>
    
                    </div>
                
                    <div class="control-group ">
                        <label class="control-label" for="title"> SKU Code <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="text" id="sku_code" name="sku_code" placeholder={{skuCodeValue}} disabled="" >
                        </div>
                    </div>
                    
                        <div class="control-group ">
                            <label class="control-label" for="title"> Product Name <span class="red">*</span></label>
                            <div class="controls">
                            <input class="form-control" type="text" id="sku_name" name="sku_name"  placeholder="{{sku.productName}}" readonly>
                                    
                            </div>
        
                        </div>
                        <div class="control-group ">
                            <label class="control-label" for="title"> Product Description <span class="red">*</span></label>
                            <div class="controls">
                            <textarea class="form-control" type="text" id="sku_description" name="sku_description" [(ngModel)]="datasku.productDescription" placeholder="Product Description"></textarea>
                                    
                            </div>
                        </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Actual Colour <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="text" id="actual_colour" name="actual_colour" [(ngModel)]="datasku.actualColour" placeholder="Actual Colour" required="">
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Item Weight(g) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="0.01" min="0.00" id="item_weight" name="item_weight" [(ngModel)]="datasku.itemWeight" placeholder="Item Weight" required="">
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Item Length (cm) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="0.01" min="0.00" id="item_length" name="item_length" [(ngModel)]="datasku.itemLength" placeholder="Item Length" required="">
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Item Height (cm) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="0.01" min="0.00" id="item_height" name="item_height" [(ngModel)]="datasku.itemHeight"  placeholder="Item Height" required="">
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Item Width (cm) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="0.01" min="0.00" id="item_width" name="item_width" [(ngModel)]="datasku.itemWidth"  placeholder="Item Width" required="">
                        </div>
    
                    </div>

                    <div class="control-group ">
                            <label class="control-label" for="title"> Item Volume (ltr) <span class="red">*</span></label>
                            <div class="controls">
                                    <input class="form-control" type="number" step="0.01" min="0.00" id="item_volume" name="item_volume" [(ngModel)]="datasku.itemVolume"  placeholder="Item Volume" required="">
                            </div>
        
                        </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Package Weight (g) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="0.01" min="0.00" id="package_weight" name="package_weight" [(ngModel)]="datasku.packageWeight" placeholder="Package Weight" required="">
                        </div>
    
                    </div>
                    
                    <div class="control-group ">
                        <label class="control-label" for="title"> Package Length (cm) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="0.01" min="0.00" id="package_length" name="package_length" [(ngModel)]="datasku.packageLength" placeholder="Package Length" required="">
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Package Height (cm) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="0.01" min="0.00" id="package_height" name="package_height" [(ngModel)]="datasku.packageHeight" placeholder="Package Height" required="">
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Package Width (cm) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="0.01" min="0.00" id="package_width" name="package_width" [(ngModel)]="datasku.packageWidth" placeholder="Package Width" required="">
                        </div>
    
                    </div>

                    <div class="control-group ">
                            <label class="control-label" for="title"> Volumetric Weight(kg) <span class="red">*</span></label>
                            <div class="controls">
                                    <input class="form-control" type="number" step="0.01" min="0.00" id="volumetric_weight" name="volumetric_weight" [(ngModel)]="datasku.volumetricWeight" placeholder="Volumetric Weight" required="">
                            </div>
        
                        </div>       
    
                    <div class="control-group ">
                        <label class="control-label" for="title"> Basic Cost <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="1" min="0.00" id="input_price" name="input_price" [(ngModel)]="datasku.basicCost" placeholder="Basic Cost" required="" (input)="costCalculation()">
                        </div>
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Branding <span class="red">*</span></label>
                        <div class="controls">
                                  <select id="category" class="chzn-drop form-control" name="category" [(ngModel)]="datasku.branding"   required=""  onchange="onchangegroup(this)">
                                      <option selected="" disabled="" value=""> Branding </option>
                                            <option id="digital" value="digital type">Digital print</option>
                                            <option id="digital" value="embroidery">Embroidery</option>
                                                                
                            </select>	
                        </div>      
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Cost per Unit<span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="1" min="0.00" id="fulfillment_price" name="branding_cost" [(ngModel)]="datasku.brandingCost" placeholder="Cost" required="" (input)="costCalculation($event)">
                        </div>
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Branding Quantity <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="1" min="0.00" id="branding_quantity" name="branding_quantity" [(ngModel)]="datasku.brandingQuantity" placeholder="Quantity" required="" (input)="costCalculation()">
                        </div>
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Fulfillment Cost <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="1" min="0.00" id="fulfillment_price" name="fulfillment_price" [(ngModel)]="datasku.fulfillmentCost" placeholder="Fulfillment Cost" required="" (input)="costCalculation()">
                        </div>
                    </div>

                    
                    <div class="control-group ">
                            <label class="control-label" for="title"> Cost after overhead </label>
                            <div class="controls">
                                    <input class="form-control" type="number"  id="cost_overhead" name="cost_overhead" placeholder={{costAfterOverHeadValue}} disabled="">
                            </div>
                        </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> B2B Margin (%) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="1" min="0.00" id="b2bmargin" name="b2bmargin" [(ngModel)]="datasku.b2bmargin" placeholder="B2B Margin" required="" (input)="costCalculation()">
                        </div>
                    </div>

                    <div class="control-group ">
                            <label class="control-label" for="title">B2C Margin (%) <span class="red">*</span></label>
                            <div class="controls">
                                    <input class="form-control" type="number" step="1" min="0.00" id="b2cmargin" name="b2cmargin" [(ngModel)]="datasku.b2cmargin" placeholder="B2C Margin" required="" (input)="costCalculation()">
                            </div>
                        </div>

                        <div class="control-group ">
                                <label class="control-label" for="title"> Tax <span class="red">*</span></label>
                                <div class="controls">
                                        <select id="category" class="chzn-drop form-control" name="category" [(ngModel)]="datasku.tax"   required="" >
                                              <option selected="" disabled="" value=""> Tax</option>
                                                                                  <option id="5" value="5">5%</option>
                                                                                  <option id="12" value="12">12%</option>
                                                                                  <option id="18" value="18">18%</option>
                                                                                  
                                              </select>	  
                                        
                                </div>
                            </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> B2B selling price <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="1" min="0.00" id="b2b" name="b2b" placeholder={{b2bsp}} disabled="" >
                        </div>
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> MRP <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="1" min="0.00" id="mrp" name="mrp" [(ngModel)]="datasku.mrp" placeholder="MRP" required="">
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Selling Price(SP) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="1" min="0.00" id="selling_price" name="selling_price" placeholder="{{b2csp}}" disabled="" >
                        </div>
    
                    </div>

                    <div class="error"> {{errors}} </div>
                             
                    <div class="form-actions" >
                            <button type="back" class="btn btn-primary treset" (click)="back()">Back</button>
                            <button type="submit" class="btn btn-primary treset" (click)="save()">Submit</button>
                        </div>
            
    </form></div>
    <app-footer></app-footer>
</div>
