<app-header></app-header>
<div class="body">
    <div style="text-align: center; padding-top: calc(40px + 3%)"> 
    <div id="icon-grid">
<div class="case-wrapper " id="pattern" data-name="CRM" data-link="Module/CRM" title="SKU Manager">
    <a routerLink="dashboard">
        <div class="app-icon pattern-icon" style="background-color: #EF4DB6" title="SKU Manager">
            <i class="pattern-icon" title="SKU Manager" style=""></i>
            </div>
        <div class="case-label text-ellipsis">
         <span class="case-label-text" style="color:white">SKU Manager</span> 
        </div>
     </a>
</div>
</div>
</div>
</div>
<app-footer></app-footer>
