<app-header></app-header>
<div class="body">
    <div style="text-align: center; padding-top: calc(40px + 3%)"> 
    <div id="icon-grid">
<div class="case-wrapper " id="pattern" data-name="CRM" data-link="Module/CRM" title="SKU Manager">
    <a routerLink="dashboard">
        <div class="app-icon pattern-icon" title="SKU Manager">
            <i class="pattern-icon" title="SKU Manager"></i>
            </div>
        <div class="case-label text-ellipsis">
         <span class="case-label-text" >SKU Manager</span> 
        </div>
     </a>
</div>
<div class="case-wrapper" data-name="Manufacturing" data-link="Module/Manufacturing" title="Masters Management"> 
    <a routerLink="management">
        <div class="app-icon masters-icon" style="background-color: #1abc9c" title="Masters Management">
            <i class="masters-icon" title="Masters Management" style=""></i>
        </div>
        <div class="case-label text-ellipsis"> 
            <span class="case-label-text" >Masters Management</span> 
        </div> 
    </a>
</div>
</div>
</div>
</div>
<app-footer></app-footer>
