<div class="body">
        <app-header></app-header>
        <div class="box">
                <div class="box span12" style="float: none; margin-left: auto; margin-right: auto;">
			
                <div class="box-header">
                    <h2>
                        <b>Create SKU</b>
                    </h2>
        
                </div>
                <div class="box-content" style="padding:0px;border:1px solid #fff;"> </div>
                    
        </div>   
</div>


<div class="box-content " style="border:none; ">
				
        <form #skuForm="ngForm" action="" method="post" id="filterform" class="form-horizontal" name="add_pattern" style="margin: 0px auto;">
                <div class="control-group "> {{disableRoleForGet()}} 
                        <label class="control-label" for="title"> SKU <span class="red">*</span></label>
                        <div class="controls">
                                <select id="selectcategory" class="form-control" name="selectcategory" [(ngModel)]="model" required="" >
                                      <option selected disabled [value]="model">Choose Option</option>
                                      <option id="category01" value="01" >Create SKU</option>
                                      <option id="category02" value="02" >Get SKU</option>
                                </select>	          
                        </div>
                    </div>
                <div id = "createsku" *ngIf="model == 01"> {{disableRoleForCreate()}} 
                    <div class="control-group ">
                        <label class="control-label" for="title"> Category <span class="red">*</span></label>
                        <div class="controls">
                                <select class="chzn-drop form-control" id="category" name="category" [(ngModel)]="category" required="" (change)="getsubcategoreis()">
                                        <option selected disabled [value]="category">Choose Category</option>    
                                        <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
                                    </select>	  
                        </div>
                    </div>
                
                    <div class="control-group ">
                        <label class="control-label" for="title"> HSN Code </label>
                        <div class="controls">
                                <input class="form-control" type="text" id="group_id" name="group_id" disabled="" placeholder={{category._id}}>
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Sub Category <span class="red">*</span></label>
                        <div class="controls">
                                <select class="chzn-drop form-control" id="subcategory" name="subcategory" [(ngModel)]="subcategory" required="" (change)="generateId()">
                                    <option selected disabled [value]="subcategory">Choose Sub Category</option>    
                                    <option *ngFor="let subcategory of subcategories" [ngValue]="subcategory">{{subcategory.subname}}</option>
                                </select>	  
                        </div>	  
                                
                        </div>
    
            <div class="control-group ">
                        <label class="control-label" for="title"> Brand <span class="red">*</span></label>
                        <div class="controls">
                                <select class="chzn-drop form-control" id="brand" name="brand" [(ngModel)]="brand" required="" (change)="getcollections()">
                                    <option selected disabled [value]="brand">Choose brand</option>    
                                    <option *ngFor="let brand of brands" [ngValue]="brand">{{brand.name}}</option>
                                </select>	  
                                
                        </div>
    
                    </div>
                    
                    <div class="control-group ">
                        <label class="control-label" for="title"> Gender <span class="red">*</span></label>
                        <div class="controls">
                                <select id="gender" class="chzn-drop form-control" name="gender" required="" [(ngModel)]="gender" (change)="generateId()">
                                      <option selected disabled [value]="gender">Choose Gender</option>
                                      <option *ngFor="let gender of genders" [ngValue]="gender">{{gender.name}}</option>
                               </select>	  
                                
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Collection Name <span class="red">*</span></label>
                        <div class="controls">
                            <select id="collection_name" class="chzn-drop form-control" name="collection_name" required="" [(ngModel)]="collection" >
                                <option selected disabled [value]="collection">Choose Collection</option>
                                <option *ngFor="let collection of collections" [ngValue]="collection">{{collection.subname}}</option>
                            </select>                             
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Colour <span class="red">*</span></label>
                        <div class="controls">
                                <select id="colour" class="chzn-drop form-control" name="colour" [(ngModel)]="colour" required="" (change)="getcolourvariations()">
                                      <option selected disabled [value]="colour">Choose Colour</option>
                                      <option *ngFor="let colour of colours" [ngValue]="colour">{{colour.name}}</option>
                                </select>	  
                                
                        </div>
    
                    </div>
                    <div class="control-group ">
                        <label class="control-label" for="title"> Colour Variation <span class="red">*</span></label>
                        <div class="controls">
                                <select id="colour_variation" class="chzn-drop form-control" name="colour_variation" [(ngModel)]="colourvariation" required="" (change)="generateId()">
                                      <option selected disabled [value]="colourvariation">Choose Colour Variation</option>
                                      <option *ngFor="let colourvariation of colourvariations" [ngValue]="colourvariation">{{colourvariation.subname}}</option>
                                </select>	          
                        </div>
                    </div>
                    
                    <div class="control-group ">
                        <label class="control-label" for="title"> Size <span class="red">*</span></label>
                        <div class="controls">
                                <select id="size" class="chzn-drop form-control" name="size" [(ngModel)]="size" required="" (change)="generateId()">
                                      <option selected disabled [value]="size">Choose Size</option>
                                      <option *ngFor="let size of sizes" [ngValue]="size">{{size.name}}</option>
                                </select>	     
                        </div>
                    </div>
                                        
                    <div class="control-group ">
                        <label class="control-label" for="title"> Manufacturing Year <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="text" id="manufacturing_year" name="manufacturing_year" [(ngModel)]="datasku.manufacturingYear" placeholder="DD/MM/YYYY">
                        </div>
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Sub Brand <span class="red">*</span></label>
                        <div class="controls">
                            <select id="sub_brand" class="chzn-drop form-control" name="sub_brand" [(ngModel)]="subbrand" (change) = "generateId()">
                                      <option selected disabled [value]="subbrand">Choose Sub Brand</option>
                                      <option *ngFor="let subbrand of subbrands" [ngValue]="subbrand">{{subbrand.name}}</option>                         
                            </select>	         
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Group ID </label>
                        <div class="controls">
                                <input class="form-control" type="text" id="group_id" name="group_id" placeholder={{groupIdValue}} disabled="" >
                        </div>
    
                    </div>
                    <div class="control-group ">
                        <label class="control-label" for="title"> Style Code </label>
                        <div class="controls">
                                <input class="form-control" type="text" id="style_code" name="style_code"  placeholder={{styleCodeValue}} disabled="" >
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Size Code </label>
                        <div class="controls">
                            <input class="form-control" type="text" id="size_code" name="size_code" placeholder={{sizeCodeValue}} disabled="" >
                    </div>
    
                    </div>
                </div>
                    <div class="control-group ">
                        <label class="control-label" for="title"> SKU Code <span class="red">*</span></label>
                        <div class="controls">
                                <div id = "createsku" *ngIf="model == 01">
                                <input class="form-control" type="text" id="sku_code" name="sku_code" placeholder={{skuCodeValue}} disabled="" ></div>
                                <div id = "createsku" *ngIf="model == 02">
                                <input class="form-control" type="text" id="sku_code" name="sku_code" placeholder={{skuCodeValue}} [(ngModel)]="datasku.skuCode" ></div>
                                <div id = "createsku" *ngIf="model == 03">
                                <input class="form-control" type="text" id="sku_code" name="sku_code" placeholder={{skuCodeValue}} disabled="" ></div>
                                        
                        </div>
    
                    </div>
                    
                        <div class="control-group ">
                            <label class="control-label" for="title"> Product Name <span class="red">*</span></label>
                            <div class="controls">
                            <input class="form-control" type="text" id="sku_name" name="sku_name" [(ngModel)]="datasku.productName" placeholder="Product Name" >
                                    
                            </div>
        
                        </div>
                        <div class="control-group ">
                            <label class="control-label" for="title"> Product Description <span class="red">*</span></label>
                            <div class="controls">
                            <textarea class="form-control" type="text" id="sku_description" name="sku_description" [(ngModel)]="datasku.productDescription" placeholder="Product Description"></textarea>
                                    
                            </div>
                        </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Actual Colour <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="text" id="actual_colour" name="actual_colour" [(ngModel)]="datasku.actualColour" placeholder="Actual Colour" required="">
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Item Weight(g) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="0.01" min="0.00" id="item_weight" name="item_weight" [(ngModel)]="datasku.itemWeight" placeholder="Item Weight" required="">
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Item Length (inch) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="0.01" min="0.00" id="item_length" name="item_length" [(ngModel)]="datasku.itemLength" placeholder="Item Length" required="">
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Item Height (inch) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="0.01" min="0.00" id="item_height" name="item_height" [(ngModel)]="datasku.itemHeight"  placeholder="Item Height" required="">
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Item Width (inch) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="0.01" min="0.00" id="item_width" name="item_width" [(ngModel)]="datasku.itemWidth"  placeholder="Item Width" required="">
                        </div>
    
                    </div>

                    <div class="control-group ">
                            <label class="control-label" for="title"> Item Volume (ltr) <span class="red">*</span></label>
                            <div class="controls">
                                    <input class="form-control" type="number" step="0.01" min="0.00" id="item_volume" name="item_volume" [(ngModel)]="datasku.itemVolume"  placeholder="Item Volume" required="">
                            </div>
        
                        </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Package Weight (g) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="0.01" min="0.00" id="package_weight" name="package_weight" [(ngModel)]="datasku.packageWeight" placeholder="Package Weight" required="" (input)="volumetricWeightCalculaion()">
                        </div>
    
                    </div>
                    
                    <div class="control-group ">
                        <label class="control-label" for="title"> Package Length (inch) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="0.01" min="0.00" id="package_length" name="package_length" [(ngModel)]="datasku.packageLength" placeholder="Package Length" required="" (input)="volumetricWeightCalculaion()">
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Package Height (inch) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="0.01" min="0.00" id="package_height" name="package_height" [(ngModel)]="datasku.packageHeight" placeholder="Package Height" required="" (input)="volumetricWeightCalculaion()">
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Package Width (inch) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="0.01" min="0.00" id="package_width" name="package_width" [(ngModel)]="datasku.packageWidth" placeholder="Package Width" required="" (input)="volumetricWeightCalculaion()">
                        </div>
    
                    </div>

                    <div class="control-group ">
                            <label class="control-label" for="title"> Volumetric Weight(kg) <span class="red">*</span></label>
                            <div class="controls">
                                    <input class="form-control" type="number" id="volumetric_weight" name="volumetric_weight" placeholder={{volume}} disabled="" >
                            </div>
        
                        </div>       
    
                    <div class="control-group ">
                        <label class="control-label" for="title"> Basic Cost <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="1" min="0.00" id="input_price" name="input_price" [(ngModel)]="datasku.basicCost" placeholder="Basic Cost" required="" (input)="costCalculation()">
                        </div>
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Branding <span class="red">*</span></label>
                        <div class="controls">
                                  <select id="branding" class="chzn-drop form-control" name="category" [(ngModel)]="datasku.branding"   required=""  onchange="onchangegroup(this)">
                                      <option selected disabled [value]="datasku.branding">Choose Branding </option>
                                            <option id="digital" value="Digital Print">Digital print</option>
                                            <option id="digital" value="Embroidery">Embroidery</option>
                                                                
                            </select>	
                        </div>      
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Cost per Unit<span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="1" min="0.00" id="fulfillment_price" name="branding_cost" [(ngModel)]="datasku.brandingCost" placeholder="Cost" required="" (input)="costCalculation()">
                        </div>
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Branding Quantity <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="1" min="0.00" id="branding_quantity" name="branding_quantity" [(ngModel)]="datasku.brandingQuantity" placeholder="Quantity" required="" (input)="costCalculation()">
                        </div>
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Fulfillment Cost <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="1" min="0.00" id="fulfillment_cost" name="fulfillment_cost" [(ngModel)]="datasku.fulfillmentCost" placeholder="Fulfillment Cost" required="" (input)="costCalculation()">
                        </div>
                    </div>

                    
                    <div class="control-group ">
                            <label class="control-label" for="title"> Cost after overhead </label>
                            <div class="controls">
                                    <input class="form-control" type="number"  id="cost_overhead" name="cost_overhead" placeholder={{costAfterOverHeadValue}} disabled="">
                            </div>
                        </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> B2B Margin (%) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="1" min="0.00" id="b2bmargin" name="b2bmargin" [(ngModel)]="datasku.b2bmargin" placeholder="B2B Margin" required="" (input)="costCalculation()">
                        </div>
                    </div>

                    <div class="control-group ">
                            <label class="control-label" for="title">B2C Margin (%) <span class="red">*</span></label>
                            <div class="controls">
                                    <input class="form-control" type="number" step="1" min="0.00" id="b2cmargin" name="b2cmargin" [(ngModel)]="datasku.b2cmargin" placeholder="B2C Margin" required="" (input)="costCalculation()">
                            </div>
                        </div>

                        <div class="control-group ">
                                <label class="control-label" for="title"> Tax (%) <span class="red">*</span></label>
                                <div class="controls">
                                        <select id="tax" class="chzn-drop form-control" name="tax" [(ngModel)]="tax"   required="" >
                                              <option selected disabled [value]="tax">Choose Tax</option>
                                              <option *ngFor="let tax of taxes" [ngValue]="tax">{{tax._id}}</option>
                                        </select>	  
                                </div>
                            </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> B2B selling price <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="1" min="0.00" id="b2b" name="b2b" placeholder={{b2bsp}} disabled="" >
                        </div>
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> MRP <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="1" min="0.00" id="mrp" name="mrp" [(ngModel)]="datasku.mrp" placeholder="MRP" required="">
                        </div>
    
                    </div>

                    <div class="control-group ">
                        <label class="control-label" for="title"> Selling Price(SP) <span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="number" step="1" min="0.00" id="selling_price" name="selling_price" placeholder="{{b2csp}}" disabled="" >
                        </div>
    
                    </div>

                    <div class="error"> {{errors}} </div>
                             
                    <div class="form-actions" >
                            <button type="submit" class="btn btn-primary treset" (click)="save()">Submit</button>
    
                            <button type="reset" tabindex="-1" class="btn btn-primary treset">Reset</button>
    
                        </div>
            
    </form></div>
    <app-footer></app-footer>
</div>
