.body {
    background-color: #4B4C9D;
    background-attachment: fixed;
    background-size: cover;
    min-width: 100%;
    margin-top: 50px;
    margin-left: -10px;
    border: 0px;
    position: absolute;
    top: 0;
    bottom: 0; 
    overflow: auto;
}

.app-icon {
    padding: 25px 20px;
    display: inline-block;
    margin: auto;
    text-align: center;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    background-repeat: no-repeat;
    background-position: center;
}

.pattern-icon {
    background-image: url(/src/assets/pattern.png);
    background-color: #EF4DB6;
    width: 80px;
    height: 70px;
}

.masters-icon {
    background-image: url(/src/assets/masters.png);
    background-size: 50px auto;
    width: 80px;
    height: 70px;
}

.production-icon{
    background-image: url(/src/assets/production.png);
    width: 80px;
    height: 70px;
}

.style-icon{
    background-image: url(/src/assets/style.png);
    background-size: 50px auto;
    width: 80px;
    height: 70px;
}

.order-icon{
    background-image: url(/src/assets/order.png);
    width: 80px;
    height: 70px;
}

.cutting-icon {
    background-image: url(/src/assets/cutting.png);
    width: 80px;
    height: 70px;
}

.sample-icon {
    background-image: url(/src/assets/sample.png);
    width: 80px;
    height: 70px;
}

.case-wrapper {
    position: relative;
    margin: 0px;
    float: left;
    width: 138px;
    height: 140px;
}

#icon-grid {
    padding-top: 15px;
    padding-bottom: 30px;
    max-width: 970px;
    margin: auto;
}

.case-label-text{
    color: white
}