<app-header></app-header>
<div class="body">
    <div style="text-align: center; padding-top: calc(40px + 3%)"> 
        <div id="icon-grid">
  
            <div class="case-wrapper" id="pattern" data-name="CRM" data-link="Module/CRM" title="Category">
                <a routerLink="category">
                    <div class="app-icon pattern-icon" style="background-color: #EF4DB6" title= "Category">
                        <i class="pattern-icon" title="Category" ></i>
                        </div>
                    <div class="case-label text-ellipsis">
                     <span class="case-label-text" >Category</span> 
                    </div>
                 </a>
            </div>
            <div class="case-wrapper" id="masters" data-name="Stock" data-link="Module/Stock" title="Brand"> 
                <a routerLink="brand">
                    <div class="app-icon production-icon" style="background-color: #FF888B" title="Brand">
                        <i class="style-icon" title="Brand" ></i>
                    </div>
                    <div class="case-label text-ellipsis">
                        <span class="case-label-text">Brand</span> 
                    </div>
            </a></div><div class="case-wrapper" id="masters" data-name="Stock" data-link="Module/Stock" title="Sub Brand">
                <a routerLink="subbrand">
                    <div class="app-icon production-icon" style="background-color: #FF008B" title="Sub Brand">
                        <i class="style-icon" title="Sub Brand" ></i>
                    </div>
                    <div class="case-label text-ellipsis">
                        <span class="case-label-text">Sub Brand </span> 
                    </div>
            </a></div><div class="case-wrapper" data-name="File Manager" data-link="List/File" title="Sub Category Manager">
                <a routerLink="subcategory">
                    <div class="app-icon order-icon" style="background-color: lightskyblue" title="Sub Category Manager">
                        <i class="cutting-icon" title="Sub Category Manager" ></i>
                    </div>
                    <div class="case-label text-ellipsis"> 
                        <span class="case-label-text">Sub Category </span> 
                    </div>
                </a>
            </div> 
        <div class="case-wrapper" id="pattern" data-name="CRM" data-link="Module/CRM" title="Gender">
                <a routerLink="gender">
                    <div class="app-icon pattern-icon" style="background-color: #FFF5A7" title="Gender">
                        <i class="pattern-icon" title="Gender" ></i>
                        </div>
                    <div class="case-label text-ellipsis">
                     <span class="case-label-text">Gender</span> 
                    </div>
                 </a>
            </div>
            <div class="case-wrapper" id="masters" data-name="Stock" data-link="Module/Stock" title="Size"> 
                <a routerLink="size">
                    <div class="app-icon production-icon" style="background-color: lightskyblue" title="Size">
                        <i class="style-icon" title="Size" ></i>
                    </div>
                    <div class="case-label text-ellipsis">
                        <span class="case-label-text">Size</span> 
                    </div>
            </a></div>
            <div class="case-wrapper" id="masters" data-name="Stock" data-link="Module/Stock" title="Colour">
                <a routerLink="colour">
                    <div class="app-icon style-icon" style="background-color: #FF888B" title="Colour">
                        <i class="style-icon" title="Colour" ></i>
                    </div>
                    <div class="case-label text-ellipsis">
                        <span class="case-label-text">Colour</span> 
                    </div>
            </a></div><div class="case-wrapper" data-name="Vendor" data-link="List/File" title="Colour Variation">
                <a routerLink="colourvariation">
                    <div class="app-icon cutting-icon" style="background-color: blue" title="Colour Variation">
                        <i class="cutting-icon" title="Colour Variation" ></i>
                    </div>
                    <div class="case-label text-ellipsis"> 
                        <span class="case-label-text">Colour Variation</span> 
                    </div>
                </a>
            </div> 
            <div class="case-wrapper" data-name="Vendor" data-link="List/File" title="Collection"> 
                <a routerLink="collection">
                    <div class="app-icon sample-icon" style="background-color: green" title="Collection">
                        <i class="cutting-icon" title="Collection" ></i>
                    </div>
                    <div class="case-label text-ellipsis"> 
                        <span class="case-label-text">Collection</span> 
                    </div>
                </a>
            </div> 
            <div class="case-wrapper" data-name="Tax" data-link="List/File" title="Tax"> 
                <a routerLink="tax">
                    <div class="app-icon order-icon" style="background-color: white" title="Tax">
                        <i class="cutting-icon" title="Tax" ></i>
                    </div>
                    <div class="case-label text-ellipsis"> 
                        <span class="case-label-text">Tax</span> 
                    </div>
                </a>
            </div> 

            <div class="case-wrapper" data-name="Vendor" data-link="List/File" title="User"> 
                <a routerLink="user">
                    <div class="app-icon sample-icon" style="background-color:  #FFF5A7;" title="User">
                        <i class="cutting-icon" title="user" ></i>
                    </div>
                    <div class="case-label text-ellipsis"> 
                        <span class="case-label-text">User</span> 
                    </div>
                </a>
            </div> 
             
          
        </div>
</div>
</div>
<app-footer></app-footer>
