<app-header></app-header>
<div class="body">
    <div style="text-align: center; padding-top: calc(40px + 3%)"> 
        <div id="icon-grid">
  
            <div class="case-wrapper" id="pattern" data-name="CRM" data-link="Module/CRM" title="Master Category">
                <a href="http://52.221.204.90/skus/sku/admin/create_master_category">
                    <div class="app-icon pattern-icon" style="background-color: #EF4DB6" title="Master Category">
                        <i class="pattern-icon" title="Master Category" ></i>
                        </div>
                    <div class="case-label text-ellipsis">
                     <span class="case-label-text" >Master Category</span> 
                    </div>
                 </a>
            </div>
            <div class="case-wrapper" id="masters" data-name="Stock" data-link="Module/Stock" title="Brand Master"> 
                <a href="http://52.221.204.90/skus/sku/admin/create_brand">
                    <div class="app-icon production-icon" style="background-color: #FF888B" title="Brand Master">
                        <i class="style-icon" title="Brand Master" ></i>
                    </div>
                    <div class="case-label text-ellipsis">
                        <span class="case-label-text">Brand Master</span> 
                    </div>
            </a></div><a href="http://52.221.204.90/skus/sku/admin/create_brand"> 
            </a><div class="case-wrapper" id="masters" data-name="Stock" data-link="Module/Stock" title="Sub Brand Master"><a href="http://52.221.204.90/skus/sku/admin/create_brand"> 
                </a><a href="http://52.221.204.90/skus/sku/admin/create_sub_brand">
                    <div class="app-icon production-icon" style="background-color: #FF008B" title="Sub Brand Master">
                        <i class="style-icon" title="Sub Brand Master" ></i>
                    </div>
                    <div class="case-label text-ellipsis">
                        <span class="case-label-text">Sub Brand Master</span> 
                    </div>
            </a></div><a href="http://52.221.204.90/skus/sku/admin/create_sub_brand"> 
        </a><div class="case-wrapper" data-name="File Manager" data-link="List/File" title="Sub Category Master Manager"><a href="http://52.221.204.90/skus/sku/admin/create_sub_brand"> 
                </a><a href="http://52.221.204.90/skus/sku/admin/create_sub_category_master">
                    <div class="app-icon order-icon" style="background-color: lightskyblue" title="Sub Category Master Manager">
                        <i class="cutting-icon" title="Sub Category Master Manager" ></i>
                    </div>
                    <div class="case-label text-ellipsis"> 
                        <span class="case-label-text">Sub Category <br>Master</span> 
                    </div>
                </a>
            </div> 
        <div class="case-wrapper" id="pattern" data-name="CRM" data-link="Module/CRM" title="Gender Master">
                <a href="http://52.221.204.90/skus/sku/admin/create_gender">
                    <div class="app-icon pattern-icon" style="background-color: #FFF5A7" title="Gender Master">
                        <i class="pattern-icon" title="Gender Master" ></i>
                        </div>
                    <div class="case-label text-ellipsis">
                     <span class="case-label-text">Gender Master</span> 
                    </div>
                 </a>
            </div>
            <div class="case-wrapper" id="masters" data-name="Stock" data-link="Module/Stock" title="Size Master"> 
                <a href="http://52.221.204.90/skus/sku/admin/create_size">
                    <div class="app-icon production-icon" style="background-color: lightskyblue" title="Size Master">
                        <i class="style-icon" title="Size Master" ></i>
                    </div>
                    <div class="case-label text-ellipsis">
                        <span class="case-label-text">Size Master</span> 
                    </div>
            </a></div><a href="http://52.221.204.90/skus/sku/admin/create_size"> 	
            </a><div class="case-wrapper" id="masters" data-name="Stock" data-link="Module/Stock" title="Colour Master"><a href="http://52.221.204.90/skus/sku/admin/create_size"> 
                </a><a href="http://52.221.204.90/skus/sku/admin/colour_list">
                    <div class="app-icon style-icon" style="background-color: #FF888B" title="Colour Master">
                        <i class="style-icon" title="Colour Master" ></i>
                    </div>
                    <div class="case-label text-ellipsis">
                        <span class="case-label-text">Colour Master</span> 
                    </div>
            </a></div><a href="http://52.221.204.90/skus/sku/admin/colour_list"> 
            </a><div class="case-wrapper" data-name="Vendor Master" data-link="List/File" title="Colour Variation Master"><a href="http://52.221.204.90/skus/sku/admin/colour_list"> 
                </a><a href="http://52.221.204.90/skus/sku/admin/create_colour_variation">
                    <div class="app-icon cutting-icon" style="background-color: blue" title="Colour Variation Master">
                        <i class="cutting-icon" title="Colour Variation Master" ></i>
                    </div>
                    <div class="case-label text-ellipsis"> 
                        <span class="case-label-text">Colour Variation<br> Master</span> 
                    </div>
                </a>
            </div> 
            <div class="case-wrapper" data-name="Vendor Master" data-link="List/File" title="Collection Master"> 
                <a href="http://52.221.204.90/skus/sku/admin/create_collection">
                    <div class="app-icon sample-icon" style="background-color: green" title="Collection Master">
                        <i class="cutting-icon" title="Collection Master" ></i>
                    </div>
                    <div class="case-label text-ellipsis"> 
                        <span class="case-label-text">Collection Master</span> 
                    </div>
                </a>
            </div> 
            <div class="case-wrapper" data-name="Tax Master" data-link="List/File" title="Tax Master"> 
                <a href="http://52.221.204.90/skus/sku/admin/create_tax">
                    <div class="app-icon order-icon" style="background-color: white" title="Tax Master">
                        <i class="cutting-icon" title="Tax Master" ></i>
                    </div>
                    <div class="case-label text-ellipsis"> 
                        <span class="case-label-text">Tax Master</span> 
                    </div>
                </a>
            </div> 
             
          
        </div>
</div>
</div>
<app-footer></app-footer>
