	
        <form #skuForm="ngForm" action="" method="post" id="filterform" class="form-horizontal" name="add_pattern" style="margin: 0px auto;">
                                
                <div class="control-group ">
                        <label class="control-label" for="title"> User Email<span class="red">*</span></label>
                        <div class="controls">
                                <input class="form-control" type="email" id="user" name="user" [(ngModel)]="user.mail" placeholder="Email" required="">
                        </div>
    
                    </div>

                    <div class="control-group ">
                            <label class="control-label" for="title"> Role<span class="red">*</span></label>
                            <div class="controls">
                                    <select id="role" class="chzn-drop form-control" name="role" required="" [(ngModel)]="user.role" (click)="admin()">
                                            <option selected="" disabled="" value="">Choose Role</option>
                                            <option id="" value="admin">Admin</option>
                                            <option id="" value="customer">Customer</option>
                                            <option id="" value="fulfillment">Fulfillment</option>
                                            <option id="" value="operations">Operations</option>
                                              
                                     </select>
                             </div>
        
                        </div>

                <div *ngIf="roleAdmin == true">
                    <div class="control-group ">
                            <label class="control-label" for="title"> Password <span class="red">*</span></label>
                            <div class="controls">
                                    <input class="form-control" type="password" id="password" name="password" [(ngModel)]="user.password" placeholder="Password" required="">
                            </div>
        
                        </div>
                    </div>

        <div class="error"> {{errors}} </div>
                     
        <div class="form-actions" >
                 <button type="submit" class="btn btn-primary treset" (click)="save()">Submit</button>

                <button type="reset" tabindex="-1" class="btn btn-primary treset">Reset</button>

            </div>
</form>