<nav class="navbar navbar-light">
    <div class="container">
        <div class="logo">
            <a href = "/sku">            
            <img src="assets/logo.png" width="100" height="25"></a> 
            <div  *ngIf= "backvalue != null" class="navbar-breadcrumbs fa fa-chevron-right" width="100" height="25"> 
            <a class="back" (click)="back()">{{backvalue}}</a>
        </div> 
          
        </div>
            <a class="btn nav navbar-nav" (click)="logout()"> 
                Log out	</a>

    </div>
</nav>