<nav class="navbar navbar-light">
    <div class="container">
        <div class="logo">            
            <img src="assets/logo.gif" width="15" height="25">
        </div>
            
                <ul  class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="btn " href="#"> 
                            Log out					
						   </a>
							<ul class="dropdown-menu" style="text-align: center;">
								<li><a href="http://52.221.204.90/skus/sku/admin/change_password"><i class="fa-icon-key"></i> Change Password</a></li>
										<li class="divider"></li>
								<li><a href="http://52.221.204.90/skus/sku/users/logout"><i class="halflings-icon off"></i> Logout</a></li>
							</ul></li>
					</ul>

    </div>
</nav>