<form #skuForm="ngForm" action="" method="post" id="filterform" class="form-horizontal" name="add_pattern" style="margin: 0px auto;">
                                
                            <div class="control-group ">
                                    <label class="control-label" for="title"> Colour Variation Name<span class="red">*</span></label>
                                    <div class="controls">
                                            <input class="form-control" type="text" id="colourvariation" name="colourvariation" [(ngModel)]="datasku.actualColor" placeholder="Colour Variation" required="">
                                    </div>
                
                                </div>

                                <div class="control-group ">
                                        <label class="control-label" for="title"> Colour <span class="red">*</span></label>
                                        <div class="controls">
                                                <input class="form-control" type="text" id="colour" name="colour" [(ngModel)]="datasku.actualColor" placeholder="Colour" required="">
                                        </div>
                    
                                    </div>

                                <div class="control-group ">
                                        <label class="control-label" for="title"> Colour Variation Code <span class="red">*</span></label>
                                        <div class="controls">
                                                <input class="form-control" type="text" id="code" name="code" [(ngModel)]="datasku.actualColor" placeholder="Code" required="">
                                        </div>
                    
                                    </div>
    
                    <div class="error"> {{errors}} </div>
                                 
                    <div class="form-actions" >
                            <button type="submit" class="btn btn-primary treset" (click)="save()">Submit</button>
    
                            <button type="reset" tabindex="-1" class="btn btn-primary treset">Reset</button>
    
                        </div>
        </form>