/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~font-awesome/css/font-awesome.css";

.navbar {
    z-index: 1030;
    left: 0px;
    right: 0px;
    position: fixed;
    min-height: 40px;
    margin-bottom: 20px;
    background-color: #ededf5;
    border-color: rgba(54, 65, 76, 0.1);
}


.navbar-inner {
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    min-height: 40px;
    padding-right: 15px;
    padding-left: 15px;
    width: 1170px;
    background: none !important;
    border-radius: 0px !important;
    border: none !important;
    box-shadow: none !important;
}


.header-nav {
    padding: 0px;
    color: #fff !important;
    background: #000 !important;
}

.navbar .nav.pull-right {
    float: right;
    margin-right: 0;
}



.dropdown-menu .divider {
    background-color: #d8dfe5;
    height: 1px;
    margin: 0;
    overflow: hidden;
}

.login-box {
    max-width: 400px;
    margin: 100px auto ;
    text-align: center;
    color: #000;
    overflow: hidden;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.input-prepend {
    background: #fff;
    width: 100%;
    text-align: center;
    padding: 15px 0px;
    border-left: 3px solid #fff;
}

.add-on {
    border: 1px solid #d1d8dd !important;
}

.button-login {
    margin: 0 20px;
}


/* common for dashboard*/

.body {
    background-attachment: fixed;
    background-size: cover;
    min-width: 100%;
    margin-top: 50px;
    margin-left: -10px;
    border: 0px;
    position: absolute;
    top: 0px;
    bottom: 0; 
    overflow: auto;
}

.span12 {
    margin-top: 57px;
}

.box-header {
    height: 55px;
    border: 1px solid #f1f1f1;
    border-bottom: 1px solid #fff;
    margin-top: 30px; 
    padding: 10px;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    position: fixed;
    top: 10px;
    width: 100%;
}

.box-header h2 {
    text-align: center;
    margin-top: 15px;
    text-shadow: 0px 1px 0px #fff;
    font-size: 16px;
}

.span5{
    float: right;
     margin-top: 40px;
     margin-right: 15px; 
     text-align: right
}

.btn-primary {
    background-color: #5e64ff;
    border-color: #444bff;
    color: #fff;
}